
/* footer styles */

.footer{
    display: flex;
    margin-bottom: 0;
    width: 100%;
    background-color: #e8ebed;
    justify-content: center;
  }
  
  /* footer styles */

  /* footer dark styles */
  .footer.dark{
    color: white;
    background-color: #2a2a2a;

  }
  /* footer dark styles */