
/* navbar styles */

.navigator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #e8ebed;
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.navigator--link {
  display: flex;
  flex-direction: row;
  gap: 20px; /* Adds space between links */
}

.navigator--link a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

.navigator--link a:hover {
  color: #007bff;
}

/* navbar styles */



/* presention styles */

.presentation--container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.presention--title{
  font-size: 35px;
  padding: 20px;
}

.school--link{
  text-decoration: none;
}
.school--link:hover{
  color: #007bff;
}

.school--link:active{
  text-decoration: none;
}

.profile--image{
  height: 15%;
}

.presentation--description{
  display: block;
  text-align: justify;
  line-height: 2.5;
  padding: 20px;
}

.presentation--description .red{
  color: red;
}
/* presention styles */



/* experience styles */

.experience{
  display: flex;
  padding: 24px;
  flex-direction: column;
  text-align: justify;
}
.experience .title{
  font-size: 20px;
  background-color: #e8ebed;
}

.element{
  width: 50%;
  
}

.experience .description{
  font-size: 16px;
}

.experience .technologie{
  border: 0.5px solid #7d8080be;
  width: fit-content;
  border-radius: 50%;
  background-color: #e8ebed;
}

.technologie--container{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.experience .periode{
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 12px;
}

/* experience styles */